<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register_style.css">
  <link rel="icon" href="Assets/logo.png">
  <title>Register - Spotify</title>
</head>
<body>
  <div class="main">
    <div class="register-container">
      <h2>Đăng ký để bắt đầu nghe</h2>

      <!-- Fetch API -->
      <form id="registerForm" action="/register" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required class="input-field">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required class="input-field">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="name@domain.com" required class="input-field">

        <button type="submit" class="badge dark-badge register-btn">Register</button>
      </form>
      <!-- Fetch API -->
      
      <div class="separator">hoặc</div>
      
      <button class="social-login google">Đăng ký bằng Google</button>
      <button class="social-login facebook">Đăng ký bằng Facebook</button>
      <button class="social-login apple">Đăng ký bằng Apple</button>
      
      <p>Bạn đã có tài khoản? <a href="login.html" class="signup-link">Đăng nhập tại đây.</a></p>
    </div>
  </div>
</body>
</html>
